<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
        <button><a href="/">Home</a></button>
        <button><a href="/dashboard">Dashboard</a></button>
        {{#if logged_in}}
          <button><a href="#" id="logout">Logout</a></button>
        {{else}}
          <button><a href="/login">Login</a></button>
          <button><a href="/signup">Sign Up</a></button>
        {{/if}}
    </nav>
  </header>
  {{{body}}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
